*  {

    box-sizing: border-box;

    }



    /* ..................................BODY ELEMENTS................................................. */

    body { 



        margin: 0;



    }



    html {



        margin: 0;

    }

    

    /* ..................................HEADER ELEMENTS................................................ */

    header {

        margin: 0;

        background-color: #c60707; 

        color: white;

        padding: 1px;   

        text-align:center;

        justify-content: center;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        font-size: x-large;

        

    }

    .search {
        float: right;
        margin: 0;
    }
    
    .button {
        float: right;
        margin: 0;
        margin-right: 5px;
    }
    





    ul {

        display: flex;

        justify-content: space-between;

        list-style-type: none;

        align-items: center;

        padding: 10px;

        padding-left: 10%;

        margin: 0;

        background-color: black;

        

    }



    li {

        text-align: center;

        display: inline;

        justify-content: center;

        color: white;

        padding-left: 40px;

        padding-right: 40px;



        

    }



    a {

        text-decoration: none;

        color: white;

    }



    nav {



        margin: 0;

        font-family: beloved-sans, sans-serif;

        font-weight: 700;

        font-style: normal;



    }



    /* ..................................MAIN ELEMENTS................................................ */



    main {

        

        margin: 0px auto;

        width:75%;

        padding: 10px 20px;

        justify-content: space-between;

    }





    #imagen {

        margin-left: auto;

        margin-right: auto;

        display: block;

    }



    .gallery {

        

        background-color: rgb(37, 37, 37);

        width: 100%;

        margin: 0px auto;

        position: relative;

        z-index: 1;



    }



    .imageGrid {



        margin-top: 10px;

        margin-bottom: 10px;

        overflow: auto;

        background-color: beige;

        text-align: center;

        



    }



    #container {

        margin-top: 15px;

        text-align: justify;

        }



    #container > div {

        width: 32%; /* Declare your value. Can be in relative units. */

        display: inline-block;

        vertical-align: top;

    

        /* IE fix. */

        *display: inline;

        zoom: 1;

        }





    #container:after {

        content: "";

        width: 100%;

        display: inline-block;

    }





    .coverImage {

        

        height: 100%;

        padding: 25%;

        width: 100%;

        position: relative;

        background-image: linear-gradient(to top, #021435, transparent 30%), url("destiny.png");

        background-size: cover;

    }



    .column1 {



        position: relative;

        padding: 10%;

        background-image: linear-gradient(to top, #021435, transparent 50%), url("PlayStation/original.jpg");

        background-size: cover;



    }



    



    .column2 {



        position: relative;        

        padding: 10%;

        background-image: linear-gradient(to top, #021435, transparent 50%), url("Xbox/sunset.jpg");

        background-size: cover;

    }



    .column3 {



        position: relative;

        padding: 10%;  

        background-image:  linear-gradient(to top, #021435, transparent 50%), url("Nintendo/arms.jpg");

        background-size: cover; 





    }



    .gallerySubtitle {

        color: rgb(255, 255, 255); 

        background-color: rgb(119, 3, 3); 

        display: inline;

    }





    .text-block {

        position: absolute;

        bottom: 0;

        right: 0%;

        width: 100%;

        font-size: 1.3em;

        color: white;

        padding-left: 20px;

        

    }





    .smalltext-block {



        position: absolute;

        bottom: 0px;

        right: 15px;

        left: 10px;

        font-size: 1em;

        color: white;

       

    }



    .circle {

        background-color: rgb(14, 4, 58);

        height: 200px;

        width: 200px;

        margin: 20px;

        border-radius: 100%;

        display: inline-block;

        justify-content: center;

    }



    .img {    

        min-width: 100%;

        min-height: 100%;

        width: auto;

        height: auto;

        }



    .container{

        display: flex;

        justify-content: space-between;

        flex-wrap: wrap;

    }



    .redbar {

        background-color: darkred;

        padding: 5px;

        



    }



    

    #title {



        background-color: rgba(1, 1, 17, 0.65);

        padding: 1px;

        position: absolute;

        top: 89%; 

        bottom: 0; 

        z-index: 2;

        width: 100%;

        color: white;



    }



    

    .gallery h3 {

        font-size: large;

        bottom: 0; 

        justify-content: center;

        align-content: center;

        text-align: center;

    }



    .subtitles {

        background-color: #c60707;

        color: white;   

        display: block;

        padding-left: 20px;

        padding-right: 80px;

        font-family: beloved-sans, sans-serif;

        font-weight: 700;

        font-style: normal;

        margin: 0;

       

   

    }







    hr {



        margin-top: 0;

        height: 12px; 

        border: 0; 

        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

        

    }



    /* ..................................FOOTER ELEMENTS................................................ */

    footer {

        color: white;

        left: 0;

        padding: 5px;

        width: 100%;

        background-color: black;

        text-align:center;

      
    }

    .social  {
       
        width: 2%;
        height: 2%;        
        float: right;
        margin: 5px;
        padding: 0;        
        
    }
    
